<html>
<head>
<title>Prologin 2015</title>
{% if success != True %}
<meta http-equiv="refresh" content="3; url=http://localhost:8000/quizz" />
{% endif %}
</head>
<body style="background:#CACACA">
{% if success == True %}
Hacking successful, congratulations.<br>
For which faction do you wish to claim the portal?<br>
<table>
  <tr>
{% for faction in factions %}
<td>
  <table>
    <tr><td>{{ faction.faction_name }}</td></tr>
    <tr><td><a href="{% url 'capture' faction.id %}">image</a></td></tr>
</table></td>
{% endfor %}
{% else %}
Hacking failed. Lockdown active.
{% endif %}
</body>
</html>
