<html>
<head>
<title>Prologin 2015</title>

</head>
<body style="background:{{ faction_color }}">
<h1>{{ question.question_text }}</h1>
<form method="POST" action="{% url 'hack' %}">
{% csrf_token %}
{% for answer in question.answer_set.all %}
<input type="radio" name="answer" value="{{ answer.id }}">{{ answer.answer_text }}<br>
{% endfor %}
<br>
<h2>CAUTION<br>
If the answer is incorrect, the portal will lock itself for 5 minutes</h2>
<input type="hidden" name="question_id" value="{{ question.id }}">
<input type="submit" value="Hack">
</form>
</body>
</html>
