<html>
<head>
<title>Prologin 2015</title>
<meta http-equiv="refresh" content="3; url=http://localhost:8000/quizz" />
</head>
<body style="background:{{ faction_color }}">
<h1>PORTAL LOCKED</h1>
Nice try, hacker.
</body>
</html>
